{%extends 'insta/base.html'%}


 {% block content %}

 <div class="container ">

             {% for post in posts%}
             <div class="d-flex justify-content-center">


             <div class="col-12 col-md-7">

             <div class="card">
                 <div class="card-header">
                     <div class="profile_image">
                        <img  class="rounded-circle" src="{{ user.profile.profile_image.url }}" alt="Add a profile image">

                     </div>
                     <div class="post_info">
                         <div class="post_name">
                             <a href="{% url 'profile' %}">{{post.author}}</a>
                         </div>
                         <div class="post_location">
                             {{post.location}}
                         </div>
                     </div>
                   
                 </div>

                 <div class="post_image">
                    <img src="{{ post.image.url}}" class="img-fluid" alt="">
                 </div>
                 <div class="engagement">
                    <a href=""> <i class="far fa-heart"></i></a>
                    <a href=""> <i class="far fa-comment"></i> </a>
                    <a href=""> <i class="fas fa-share"></i> </a>
                    <a href=""> <i class="far fa-bookmark float-end"></i> </a>

                 </div>

                 <div class="likes">
                     <a href="">{{post.likes}} likes</a>
                 </div>
                 <div class="caption">
                    <strong><h6>{{post.author}}</h6> </strong> ~ <span>{{post.caption}}</span>
                    <hr>

                        {% if not post.comments.all %}
    
                        No comments yet... <a href="">add one</a>
                   
                        {% else%}
                 </div>
                 <div class="caption">

                 <a href="">add a comment</a><br>
                 <h2>Comments...</h2>
                 </div>

                 <div class="row caption">
                     
                    {% for comment in post.comments.all%}
                    <div class="col-12">

                    <strong>{{user.username}}</strong>:
                    {{comment.body}}
                    <div class="float-end">
                    {{comment.date | timesince}} ago
                    </div>
                    </div>
                    {% endfor%}
                    {% endif %}
                 </div>

                 <div class="time_posted">
                     {{post.created_date | timesince}} ago
                 </div>

             </div>
             </div>
             </div>

             {% endfor %}

  
 </div>

 {% endblock %}